<h1>{{title}}</h1>

<section class="featured">
	{{#each data.response}}
	<div class="item">
		<a href="maker/{{ this.maker.url }}"><img src="{{ this.clips.0.assets.web_460.url }}" /></a>
		<div class="meta">
			<a href="maker/{{ this.maker.url }}"><img src="{{ this.maker.avatar.small.url }}" /></a>
			<a href="maker/{{ this.maker.url }}" class="title">{{ this.title }}</a>
			<a href="maker/{{ this.maker.url }}" class="maker">{{ this.maker.nickname }}</a>
		</div>
	</div>
	{{/each}}
</section>